DJANGO_DEBUG=true
GRAPHQL_DEBUG=true
SECRET_KEY="4No%7RUt~J#gD|WS!g!b1!!f9B]#2UQRx<;DaLx%=Y#xF9Lm<$N=OC;(a#@9+}ve"
POSTGRES_GM_DB=uplifty
# For docker
DATABASE_URL=psql://postgres@db:5432/uplifty
# For local
DATABASE_URL=psql://postgres@localhost:5432/uplifty
